.carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    @media(min-width: 1024px) {
        flex-direction: row;
    }
}

.slider {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;

    .images {
        height: 248px;
        max-width: 100%;
        width: 1023px;

        @media(min-width: 1024px) {
            min-width: 860px;
            height: 300px;
        }

        @media(min-width: 1280px) {
            min-width: 1080px;
        }

        @media(min-width: 1440px) {
            min-width: 1180px;
        }
    
        @media(min-width: 1680px) {
            min-width: 1520px;
        }

        @media(min-width: 1920px) {
            min-width: 1700px;
        }
    }
}

.visible-movie {
    display: block;
}

.hidden-movie {
    display: none;
}

ul {
    list-style-type: none;
}

.next {
    display: none;

    @media(min-width: 1024px) {
        display: block;
        position: relative;
        background-color: transparent;
        border: 0px;
        margin-left: 10px;
        margin-right: 10px;
        width: 58px;
        height: 100%;
        padding: 0;

        .nextButton {
            position: relative;
            box-shadow: 2px 1px #8b0000;
            border-radius: 50%;
            left: -1px;
        }
    }
    
}

.previous {
    display: none;

    @media(min-width: 1024px) {
        display: block;
        position: relative;
        background-color: transparent;
        border: 0px;
        margin-right: 10px;
        margin-left: 10px;
        width: 58px;
        height: 100%;
        padding: 0;

        .previousButton {
            position: relative;
            box-shadow: -3px 1px #8b0000;
            border-radius: 50%;
            right: -1px;
        }
    }
}

.mobile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: 1024px) {
        display: none;
    }
}

.mobile-previous {
    position: relative;
    background-color: transparent;
    border: 0px;
    margin-right: 10px;
    width: 58px;
    height: 100%;
    padding: 0;

    .mobilePreviousButton {
        position: relative;
        box-shadow: 0px 1px #8b0000;
        border-radius: 50%;
        right: -1px;
    }
}

.mobile-next {
    position: relative;
    background-color: transparent;
    border: 0px;
    margin-left: 10px;
    width: 58px;
    height: 100%;
    padding: 0;

    .mobileNextButton {
        position: relative;
        box-shadow: 0px 1px #8b0000;
        border-radius: 50%;
        left: -1px;
    }
}


.data-movie {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 10px;
    left: 10px;
    border-radius: 40px;
    border: 7px solid #600C0C;
    background-color: #FF9533;
    color: #600C0C;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 12px;
    
    @media(min-width: 1024px) {
        font-weight: 700;
        font-size: 16px;
        width: 140px;
        height: 70px;
        top: 15px;
        left: 20px;
    }
}

.images {
    display: block;
}

.groupMoviesInvisible {
    display: none;
}

.groupMoviesVisible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;

    @media(min-width: 768px) {
        flex-direction: row;
        max-width: 440px;
    }

    @media(min-width: 1024px) {
        max-width: 700px;
    }

    @media(min-width: 1440px) {
        max-width: unset;
        flex-wrap: nowrap;
    }

    > li {
        padding: 20px;

        @media(min-width: 1440px) {
            padding: 10px;
        }
    }
}