<app-movies-form [currentPage]="'cadastro-de-ingressos'" [movies]="listOfMovies" (selectMovie)="onSelectMovie($event)" (resetPreview)="resetPreview()" (upload)="onUpload($event)"></app-movies-form>
<app-label-page page="Cadastro de Ingressos"></app-label-page>
<section class="upload-preview">
    <div class="upload-preview-image">
        <ng-template [ngIf]="urlImage != undefined">
            <img src="{{ urlImage }}" alt="">
        </ng-template>
    </div>
</section>
<app-footer [ngClass]="'ticket-register-footer'"></app-footer>
