<section [ngClass]="'banner-search'">
    <form [ngClass]="'search-fields'">
        <div [ngClass]="'search-group'">
            <label for="title">Título</label>
            <input id="title" [ngClass]="'form-item'" type="text">
        </div>
        <div [ngClass]="'search-group date'">
            <label for="data">A partir</label>
            <input id="data" [ngClass]="'form-item'" type="date" name="" id="">
        </div>
        <div [ngClass]="'search-group'">
            <label for="genre">Gênero</label>
            <select id="genre" [ngClass]="'form-item select'" name="movies">
                <option value="volvo">AÇÃO</option>
                <option value="saab">AVENTURA</option>
                <option value="fiat">TERROR</option>
                <option value="audi">DRAMA</option>
                <option value="audi">COMÉDIA</option>
            </select>
        </div>
    </form>
    <button [ngClass]="'search-button'">Pesquisar</button>
</section>