<section [ngClass]="'banner-search'">
    <form [formGroup]="movieForm" (ngSubmit)="submitForm()" [ngClass]="'search-fields'">
        <div [ngClass]="'search-group'">
            <label for="title">Título</label>
            <input id="title" [class.high-opacity]="disableTitle" [ngClass]="'form-item'" type="text" formControlName="title" (focus)="focusEvent($event)" (focusout)="focusEvent($event)">
        </div>
        <div [ngClass]="'search-group date'">
            <label for="date">A partir</label>
            <input id="date" [class.high-opacity]="disableDate" [ngClass]="'form-item'" type="date" formControlName="date" (focus)="focusEvent($event)" (focusout)="focusEvent($event)">
        </div>
        <div [ngClass]="'search-group'">
            <label for="genre">Gênero</label>
            <select id="genre" [class.high-opacity]="disableGenre" [ngClass]="'form-item select'" formControlName="genre" (focus)="focusEvent($event)" (focusout)="focusEvent($event)">
                <option value="ação">AÇÃO</option>
                <option value="aventura">AVENTURA</option>
                <option value="terror">TERROR</option>
                <option value="drama">DRAMA</option>
                <option value="comédia">COMÉDIA</option>
                <option value="romance">ROMANCE</option>
            </select>
        </div>
        <div>
            <button [class.search-button-over]="searchButtonOver" (mouseover)="setSearchButtonOver()" (mouseout)="setSearchButtonOver()" [ngClass]="'search-button'">Pesquisar</button>
        </div>
    </form>
</section>