.banner-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 560px;
    background: linear-gradient(180deg, rgba(238, 103, 27, 0.9) 5.21%, rgba(241, 153, 21, 0.9) 99.43%, rgba(233, 96, 19, 0.9) 99.44%, rgba(240, 121, 34, 0.9) 99.45%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 19px 18px;
    margin: 0;
    padding: 0;

    @media(min-width: 1024px) {
        height: 300px;
        flex-direction: row;
    }
}

.search-fields {
    max-width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @media(min-width: 1024px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media(min-width: 1280px) {
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 100%;
    }


    label {
        font-size: 24px;
        color: #600C0C;
        font-weight: 700;
    }

    .form-item {
        width: 235px;
        height: 50px;
        left: 125.5px;
        top: 122px;
        background: #600C0C;
        border-radius: 10px;
        border: 0px;
        color: #FF9533;
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;

        @media(min-width: 1280px) {
            width: 265px;
        }
    }
}

.search-button {
    width: 220px;
    height: 60px;
    border-radius: 50px;
    color: #FF9533;
    background-color: #600C0C;
    font-weight: 700;
    font-size: 24px;
    border: 0px;
    margin-top: 30px;

    @media(min-width: 1366px) {
        margin-left: 10px;
        width: 250px;
    }
}

.search-button-over {
    filter: drop-shadow(2px 4px 6px black);
}

.search-group {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    text-align: center;

    @media(min-width: 1024px) {
        padding: 20px;
        padding: 0;
        display: block;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.7) brightness(60%) sepia(60%) saturate(4500%) hue-rotate(20deg);
    padding-right: 20px;
}

.high-opacity {
    opacity: 80%;
}