<div [ngClass]="'carousel-pages'">
    <button [ngClass]="'buttonCarrouselPageTop'" [class.carouselButtonOver]="pagesPreviousButtonOver" 
    (mouseover)="pagesPreviousButtonOver = true" (mouseout)="pagesPreviousButtonOver = false" (click)="previousMovie()">
        <img src="assets/images/next_button.png" alt=""/>
    </button>
    <ul>
        <li *ngFor="let movie of listMovies | slice:startMovie:endMovie; index as i;">
            <a [routerLink]="['/movie-details', movie.title]">
                <img [ngClass]="'carousel-movies-pages-images'" src={{movie.moviePoster}} />
            </a>
        </li>
    </ul>
    <button [ngClass]="'buttonCarrouselPageBottom'" [class.carouselButtonOver]="pagesNextButtonOver" 
    (mouseover)="pagesNextButtonOver = true" (mouseout)="pagesNextButtonOver = false" (click)="nextMovie()">
        <img src="assets/images/previous_button.png" alt=""/>
    </button>
</div>