ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 40px 0;
    max-width: 400px;
    margin: 16px 0px -35px 0px;

    > li {
        padding: 10px;
    }

    @media(min-width: 720px) {
        margin: 16px 0px -84px 0px;
    }
    @media(min-width: 1024px) {
        max-width: unset;
        margin: unset;
    }
}

.carousel-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(min-width: 1024px) {
        flex-direction: row;
    }

    > button {
        border: 0;
        background: transparent;

        > img {
            filter: brightness(6.5);
            transform: rotate(90deg);

            @media(min-width: 1024px) {
                transform: unset;
            }
        }
    }
}

.buttonCarrouselPageTop {
    @media(min-width: 1024px) {
        padding-top: unset;
    }
}

.buttonCarrouselPageBottom {
    @media(min-width: 1024px) {
        padding-top: unset;
    }
}

.carouselButtonOver {
    filter: drop-shadow(2px 4px 6px black);
}

.carousel-movies-pages-images {
    width: 180px;
    height: 270px;
}

.not-found-movies-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF9533;
    text-transform: capitalize;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-top: 16vh;
    margin-bottom: 27vh;

    @media(min-width: 720px) {
        margin-bottom: 22vh;
        margin-top: 16vh;
        font-size: 52px;
    }

    @media(min-width: 1024px) {
        margin-top: 16vh;
    }
}