<section [ngClass]="'banner-search'">
    <ng-template [ngIf]="currentPage == 'cadastro-de-filmes'">
        <form [formGroup]="movieForm"  [ngClass]="'search-fields'">
            <div [ngClass]="'search-group'">
                <label for="title">Título</label>
                <input id="title" [class.high-opacity]="" [ngClass]="'form-item'" type="text" formControlName="title">
            </div>
            <div [ngClass]="'search-group date'">
                <label for="date">Data</label>
                <input id="date" [class.high-opacity]="" [ngClass]="'form-item'" type="date" formControlName="date">
            </div>
            <div [ngClass]="'search-group'">
                <label for="genre">Gênero</label>
                <select id="genre" [class.high-opacity]="" [ngClass]="'form-item select'" formControlName="genre">
                    <option value="ação">AÇÃO</option>
                    <option value="aventura">AVENTURA</option>
                    <option value="terror">TERROR</option>
                    <option value="drama">DRAMA</option>
                    <option value="comédia">COMÉDIA</option>
                    <option value="romance">ROMANCE</option>
                </select>
            </div>
            <div [ngClass]="'search-group'">
                <label for="status">Status</label>
                <select id="status" [class.high-opacity]="" [ngClass]="'form-item select'" formControlName="status">
                    <option value=true>Ativo</option>
                    <option value=false>Inativo</option>
                </select>
            </div>
            <div [ngClass]="'search-group'">
                <label id="file-poster" [ngClass]="'search-button'" for="poster">Pôster</label>
                <input id="poster" (change)="selectFile($event)" accept="image/webp" type="file" formControlName="poster"/>
            </div>
            <div [ngClass]="'search-group'">
                <label id="sinopse-label" for="sinopse">Sinopse</label>
                <input id="sinopse" type="text" [ngClass]="'form-item'" formControlName="sinopse"/>
            </div>
            <div [ngClass]="'search-group'">
                <label id="pagina-home-label" for="home">Página Home</label>
                <select id="home" [class.high-opacity]="" [ngClass]="'form-item select'" formControlName="home">
                    <option value="ativo">Ativo</option>
                    <option value="inativo">Inativo</option>
                </select>
            </div>
            <div>
                <ng-template [ngIf]="movie != undefined">
                    <button (click)="submitForm()" [ngClass]="'search-button'">Atualizar Filme</button>
                    <button (click)="deletarFilme()" [ngClass]="'search-button'">Deletar Filme</button>
                </ng-template>
                <ng-template [ngIf]="movie == undefined">
                    <button (click)="submitForm()" [ngClass]="'search-button'">Cadastrar</button>
                </ng-template>
            </div>
        </form>
    </ng-template>

    <ng-template [ngIf]="currentPage == 'cadastro-de-ingressos'">
        <form [formGroup]="ticketForm" [ngClass]="'search-fields ticket-form'">
            <div [ngClass]="'search-group'">
                <div [ngClass]="'labels-align'">
                    <label for="titulo">Selecione o Filme</label>
                </div>
                <select id="titulo" [(ngModel)]="selectedMovieTitle" (change)="selectMovieChange(movie)" [ngClass]="'form-item select'" formControlName="title">
                    <option value="{{ movie.titulo }}" *ngFor="let movie of movies">{{ movie.titulo }}</option>
                </select>
                <div [ngClass]="'labels-align'">
                    <label id="ingressos-label" for="ingressos">Qtd. Ingressos</label>
                </div>
                <input id="ingressos" type="number" [ngClass]="'form-item'" formControlName="ingressos"/>
            </div>
            <div>
                <ng-template [ngIf]="selectedMovie != undefined">
                    <button (click)="submitForm()" *ngIf="selectedMovie.QuantidadeIngressos != undefined && selectedMovie.QuantidadeIngressos > 0"  [ngClass]="'search-button'">Atualizar Ingressos</button>
                    <button (click)="deletarFilme()" *ngIf="selectedMovie.QuantidadeIngressos > 0" [ngClass]="'search-button'">Deletar Ingressos</button>
                    <button (click)="submitForm()" *ngIf="selectedMovie.QuantidadeIngressos == undefined || selectedMovie.QuantidadeIngressos == 0" [ngClass]="'search-button'">Cadastrar Ingressos</button>
                </ng-template>
            </div>
        </form>
    </ng-template>
    
</section>
