@mixin commom-style {
    @media(min-width: 320px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media(min-width: 1024px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .topbar-menu {
        display: flex;
        align-items: center;
        justify-content: right;
        height: 70px;

        @media(min-width: 1024px) {
            padding-right: 20px;
        }
    }

    .topbar-logo-menu {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 70px;
        font-size: 36px;

        @media(min-width: 1024px) {
            padding-left: 20px;
            font-size: 24px;
        }
    }

    .topbar-icon {
        width: 30px;
        height: 30px;
    }
}

.default-topbar-secondary {
    width: 100%;
    background: linear-gradient(360deg, #F19E21 20%, #EF6416 100%);

    .topbar-link {
        padding: 10px;
        text-decoration: none;
        color: #600C0C;
    }

    @include commom-style();
}

.default-topbar {
    background-color: #600C0C;
    width: 100%;
    
    .topbar-link {
        padding: 10px;
        text-decoration: none;
        color: #FF9533;
    }

    @include commom-style();
}



