.home-footer {
    position: relative !important;
    bottom: -2px !important;
    width: 100%;

    @media(min-width: 1024px) {
        position: absolute !important;
        bottom: 0px !important;
    }
}