
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
@import '~bootstrap/dist/css/bootstrap.min.css';
$cineweb-primary: mat.define-palette(mat.$indigo-palette);
$cineweb-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cineweb-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cineweb-theme: mat.define-light-theme((
  color: (
    primary: $cineweb-primary,
    accent: $cineweb-accent,
    warn: $cineweb-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cineweb-theme);

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
    background-color: #600C0C;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.upload-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 60px;

  @media(min-width: 1024px) {
      position: unset;
      top: unset;
  }

}

.upload-preview-image {
  background: linear-gradient(180deg, #F19E21 0%, #EF6416 100%);
  color: #600C0C;
  min-width: 95%;
  border-radius: 20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media(min-width: 1024px) {
      min-width: unset;
      width: 620px;
  }
}

.buy-button {
  position: relative;
  top: 30px;
  cursor: pointer;
  min-width: 180px;
  height: 50px;
  background-color: #FF9533;
  color: #600C0C;
  font-size: 24px;
  font-weight: 600;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  border: 3px outset gray;
}
